<div *ngIf="isLoading" class="loading">Loading species...</div>
<div class="search-container">
  <input type="text" placeholder="Search species..." [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange(searchTerm)">
</div>
<!-- 
<div class="search-container">
  <input 
    type="text" 
    [(ngModel)]="searchTerm" 
    (ngModelChange)="onSearchChange($event)"
    placeholder="Search species..."
    class="search-input">
</div>
-->
<div *ngIf="species.length > 0" class="species-grid">
   <div *ngFor="let specie of species" class="species-card">
    <a [routerLink]="['/species', specie.id]">
      <img [src]="specie.image" [alt]="specie.name" class="species-image">
      <div class="species-info">
        <h2>{{ specie.name }}</h2>
        <p class="species-id">#{{ specie.id }}</p>
      </div>
    </a>
   </div>
 </div>